# Dependencies
node_modules/

# Konfiguration mit sensiblen Daten
config.json
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-spezifische Dateien
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporäre Dateien
tmp/
temp/
*.tmp
